body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #1f1f1f;
    padding-right: 10px;
    padding-left: 10px;
}
nav{

}
h1{
    background-color: blue;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
}
li{
    display: inline;
    justify-content: flex-end;
    justify-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }